.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 60px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.left-section {
  width: 200px;
  display: flex;
  align-items: center;
}

.left-section .btn-burger-menu {
  height: 60%;
  width: 50px;
  border: none;
  background-color: #fff;
}

.left-section .btn-youtube {
  height: 100%;
  width: 60%;
  border: none;
  background-color: #fff;
}

.mid-section {
  flex: 1;
  max-width: 100%;
  min-width: 200px;
  justify-content: center;
  display: flex;
}

.search-input {
  width: 50%;
  height: 36px;
  padding-left: 20px;
  border: solid rgb(202, 202, 202) 2px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn-search {
  width: 50px;
  height: 41px;
  margin-left: -10px;
  border: solid rgb(202, 202, 202) 2px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  display: flex;
}

.btn-voice-search {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: solid rgb(202, 202, 202) 2px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.right-section {
  width: 90%;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-create {
  height: 41px;
  font-size: 16px;
  border: solid rgb(202, 202, 202) 2px;
  border-radius: 20px;
  padding: 0 10px;
}

.btn-noti {
  height: 41px;
  width: 41px;
  border-radius: 22px;
  border: solid rgb(202, 202, 202) 2px;
}

.btn-channel {
  height: 50px;
  width: 50px;
  border: none;
  background-color: #fff;
  position: relative;
  border-radius: 25px;
}

.btn-channel img {
  height: 41px;
  width: 41px;
  border-radius: 25px;
}
