<div class="thumnail-container">
  <div class="thumnail">
    <img src="../../assets/img/thumbnail-3.webp" alt="" />
    <div class="about-title">
      <div class="avt">
        <img src="../../assets/img/channel-1.jpeg" alt="" />
      </div>
      <div class="title">
        <p class="channel-title">Hamichiko - Flying Beagle</p>
        <div class="total">
          <p class="channel-name">captain chef</p>
          <p class="channel-view">9,1Tr lượt xem | 7 năm trước</p>
        </div>
      </div>
    </div>
  </div>
  <div class="thumnail">
    <img src="../../assets/img/thumbnail-3.webp" alt="" />
    <div class="about-title">
      <div class="avt">
        <img src="../../assets/img/channel-1.jpeg" alt="" />
      </div>
      <div class="title">
        <p class="channel-title">Hamichiko - Flying Beagle</p>
        <div class="total">
          <p class="channel-name">captain chef</p>
          <p class="channel-view">9,1Tr lượt xem | 7 năm trước</p>
        </div>
      </div>
    </div>
  </div>
  <div class="thumnail">
    <img src="../../assets/img/thumbnail-3.webp" alt="" />
    <div class="about-title">
      <div class="avt">
        <img src="../../assets/img/channel-1.jpeg" alt="" />
      </div>
      <div class="title">
        <p class="channel-title">Hamichiko - Flying Beagle</p>
        <div class="total">
          <p class="channel-name">captain chef</p>
          <p class="channel-view">9,1Tr lượt xem | 7 năm trước</p>
        </div>
      </div>
    </div>
  </div>
</div>
