<div class="drop-menu">
  <div class="color">
    <div class="my-channel">
      <div>
        <img src="../../assets/img/unnamed.jpg" alt="" />
      </div>
      <div class="my-channel2">
        <p>tuan vu</p>
        <p>@tuanvu123123</p>
        <a
          href="https://www.youtube.com/watch?v=8a6R2P9YqGY"
          style="text-decoration: none"
          >Xem kênh của bạn
        </a>
      </div>
    </div>
    <div class="google">
      <div class="pp">
        <p>Tài khoản google</p>
        <p>Chuyển đổi tài khoản</p>
        <p>Đăng xuất</p>
      </div>
    </div>
    <div class="studio">
      <div class="pp">
        <a
          href="https://www.youtube.com/watch?v=8a6R2P9YqGY"
          style="text-decoration: none"
          >Youtube Stuido</a
        >
        <p>Giao dịch mua và gói thành viên</p>
      </div>
    </div>
    <div class="data">
      <div class="pp">
        <p>Dữ liệu của bạn trong Youtube</p>
        <p>Giao diện: Giao diện thiết bị</p>
        <p>Ngôn ngữ hiển thị: Tiếng Việt</p>
      </div>
    </div>
    <div class="lorem">
      <div class="pp">
        <p>alias, quisquam nam rerum</p>
        <p>am id commodi, nesciunt quo apa</p>
        <p>Lorem ipsum, dolor sit amet r</p>
        <p>adipisicing elit. Ipsam</p>
        <p>e deserunt quasi? Repud</p>
        <p>poribus quia totam la</p>
      </div>
    </div>
  </div>
</div>
