.header-container {
  display: grid;
  grid-template-columns: 200px 1fr 400px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 60px;
}

.left-section {
  margin-left: 10px;
  display: flex;
}

.btn-burger-menu,
.btn-youtube {
  justify-self: center;
  align-self: center;
  display: flex;
  border: none;
}

.mid-section,
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search,
.btn-voice-search {
  width: 50px;
  height: 50px;
}

.search-input {
  height: 46px;
  padding-left: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid rgb(174, 174, 174);
}

.btn-search {
  border: 1px solid rgb(174, 174, 174);
  margin-right: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.btn-voice-search {
  border-radius: 30px;
  border: none;
}

.right-section {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.channel {
  height: 50px;
  border-radius: 30px;
}

.btn-create {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
}

.btn-noti {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 30px;
}
