.side-bar-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;

  margin-left: 10px;
}

button img {
  width: 40px;
  height: 50px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  margin-top: 20px;
  height: 100px;
  border: none;
  background-color: rgb(214, 214, 214);
  justify-content: center;
  cursor: pointer;
}

button:hover {
  border-radius: 20px;
  background-color: #fff;
  transition: 3ms;
}
