.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-between;
}

.sidebar button {
  height: 100px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.sidebar img {
  height: 30px;
}

button:hover {
  background-color: rgb(208, 208, 208);
  transition: 0.15s;
}
